DATABASE_URL=postgresql://postgres.tcwsoeivscbkwgxnefve:TU_PASSWORD@aws-1-us-west-1.pooler.supabase.com:5432/postgres

PORT=5000

CLOUDINARY_CLOUD_NAME=dtnxbeqox
CLOUDINARY_API_KEY=553899635296433
CLOUDINARY_API_SECRET=0CceG2QFww8bmgcmfCwM5GOJ_6U
